[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "The "
[access "refs/*"]
	owner = group user/raharoson
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/raharoson
	label-Verified = -1..+1 group user/raharoson
	push = group user/raharoson
	read = group user/raharoson
	rebase = group user/raharoson
	removeReviewer = group user/raharoson
	submit = group user/raharoson
[access "refs/heads/*"]
	create = group user/raharoson
	push = +force group user/raharoson
	pushMerge = group user/raharoson
	read = group user/raharoson
[access "refs/tags/*"]
	push = group user/raharoson
	push = +force group user/raharoson
